<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Info</h2>

    <ul>
        <li><strong>Average Rating:</strong> {{ info_dict.avg_rating }}</li>
        <li><strong>Number of Matches Rated:</strong> {{ info_dict.number_of_matches }}</li>
    </ul>


  <a href="/dashboard">Go Back</a>
    <a href="/">Logout</a>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

</body>
</html>