<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List of Stadiums</h1>
    <ul>
        {% for stadium in stadiums %}
            <li>{{ stadium.0 }} - {{ stadium.1 }}</li>
        {% endfor %}
    </ul>
    <a href="/dashboard">Go Back</a>
    <a href="/">Logout</a>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>